body            { font-family: sans-serif; background: gray; }
h1	            { color: black; }
h2				{ color: black; }
h1, h2          { font-family: 'Helvetica', serif; margin: 0; }
h1              { font-size: 2.0em; border-bottom: 5px solid black; }
h2              { font-size: 1.0em; }
h3				{ font-size: 1.2em; color: #660000;}
h4 				{ font-size: 0.8em; }
h5 				{ color: black;}
h6				{ font-size: 1.2em; border-top: 3px solid gray;}

.page           { margin: 2em auto; width: 35em; border: 5px solid gray;
                  padding: 0.8em; background: #b3c6ff; }
.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 5px solid gray; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: ##b3c6ff; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }
