{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <center><dl>
        <dt>Title:
        <dd><input type=text size=50 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=60></textarea>
        <dd><input type=submit value=Share>
      </dl></center>
    </form>
  {% endif %}
  <ul class=entries>
    <h4>Posts:</h4> 
  {% for entry in entries %}
    <li><h6>{{ entry.title }}</h6>
    {{ entry.text|safe }}
  {% else %}
    <li><em>Nothings here. Wtf. Markets closed?</em>
  {% endfor %}
  </ul>
{% endblock %}